<div class="main">
	<div>
		<%= form_tag(packsSearch_path, :controller => "packs", :action => :search, :method => :get) do %>
			<%= text_field_tag :search, params[:search] %>
			<%= submit_tag("Search") %>
		<% end %>
	</div>
	<div class="container">
	<h2>These are our Packs!</h2>
	<%= render 'layouts/user_widget' %>
		<% if user_signed_in? %>
			<p>You are currently logged!</p>

			<% @packs.each do |p| %>
				<div class="Pack">
					<%= image_tag p.image %>
					<h3> <%= p.name %> </h3>
					<p> Price: <%= p.price %>€ </p>
					<p> Discount: <%= p.discount %> </p>
					<%= link_to "Show the toys", pack_path(p) %>
					<%= link_to "Add to Cart", {:controller => "cart", :action => :addprod, :item => p }, {:method => :post} %></p>
				</div>
			<% end %>
		<% else %>
			<p>You are not currently logged!</p>

			<% @packs.each do |p| %>
				<div class="Pack">
					<%= image_tag p.image%>
					<h3> <%= p.name %> </h3>
					<p> Price: <%= p.price %>€ </p>
					<p> Discount: <%= p.discount %> </p>
					<%= link_to "Show the toys", pack_path(p) %>
				</div>
			<% end %>
		<% end %>
	</div>

</div>

					
