<div class="main">
	<div class="row">
		<div class="col-sm-10">
			<h1 class="title">These are your active Orders!</h1>
		</div>
	</div>
	<div class="container">
			
		<p><%= link_to "Return to Home Page", root_path %></p>
		<p><%= link_to "See your cancelled Orders", listCancelledOrders_path %></p>

		<p><h3>Displaying information of <%= @orders.length %> orders</h3></p>
		
		<% @orders.each do |order| %>
			<table>
				<tr>
					<td>Order ID: </td>
					<td><%= order.id %></td>
				</tr>
				<tr>
					<td>Order user: </td>
					<td><%= User.find(order.user.id).first_name %></td>
				</tr>
				<tr>				
					<td>Order price: </td>
					<td><%= order.totalPrice %>€</td>
				</tr>
				<tr>
					<td>Number of products: </td>
					<td><%= order.order_products.length %></td>
				</tr>
				<tr>
					<td>Order status: </td>
					<td><%= order.status %></td>
				</tr>
				<tr>
					<td>Order products: </td>
						<td><% order.order_products.each do |item| %>
							<%= Item.find(item.items_id).name %>
						<% end %></td>
				</tr>
					
				
			</table>
			<%= button_to "Show Order details", { :controller => "orders", :action => "showOrder", id: order.id }, { :method => :get, :class => "btn btn-primary", :style => "margin-top:2%" }%>
			<%= button_to "Cancel Order", { :controller => "orders", :action => "cancelOrder", id: order.id }, { :method => :get, :class => "btn btn-danger", :style => "margin-top:2%" }%>
		<% end %>
	</div>
</div>
