<div class="main">
	<div class="row">
		<div class="col-sm-10">
			<h1 class="title">These are your cancelled Orders :(</h1>
		</div>
	</div>
	<div class="container">
			
		<p><%= link_to "Return to Home Page", root_path %></p>
		<p><%= link_to "See your active orders", listOrders_path %></p>

		<p><h3>Displaying information of <%= @orders.length %> orders</h3></p>
		
		<% @orders.each do |order| %>
			<table>
				<tr>
					<td><p>Order ID: </p></td>
					<td><%= order.id %></td>
				</tr>
				<tr>
					<td><p>Order user: </p></td>
					<td><p><%= User.find(order.user.id).first_name %></p></td>
				</tr>
				<tr>				
					<td><p>Order price: </p></td>
					<td><p><%= order.totalPrice %>€</p></td>
				</tr>
				<tr>
					<td><p>Number of products: </p></td>
					<td><p><%= order.order_products.length %></p></td>
				</tr>
				<tr>
					<td><p>Order status: </p></td>
					<td><p><%= order.status %></p></td>
				</tr>
				<tr>
					<td><p>Order products: <p></td>
						<td><p><% order.order_products.each do |item| %>
							<%= Item.find(item.items_id).name %>
						<% end %></p></td>
				</tr>
					
				</tbody>
			</table>
			<%= button_to "Show Order details", { :controller => "orders", :action => "showOrder", id: order.id }, { :method => :get, :class => "btn btn-primary", :style => "margin-top:2%;" }%>
		<% end %>
	</div>
</div>
