<div class="main">
	<div class="row">
		<div class="col-sm-10">
			<h1 class="title">This is your Order!</h1>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-2">	
				<p><%= link_to "Return to Home Page", root_path %></p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-2">
				<p><%= link_to "See your active Orders", listOrders_path %></p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-2">
				<p>Displaying Order details...</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-2">
				<p>Order ID: </p>
			</div>				
			<div class="col-sm-2">
				<%= @order.id %>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-2">
				<p>Order price: </p>
			</div>
			<div class="col-sm-2">
				<%= $totalPrice %>€
			</div>
		</div>

		<div class="row">
			<div class="col-sm-2">
				<p>Order status: </p>
			</div>
			<div class="col-sm-2">
				<%= @order.status %>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
				<p>Amount of products ordered:&nbsp;&nbsp; <%= @orderProducts.length %></p>
			</div>
		</div>
		

		<% if @order.status == "Ordered" %>
			<div id="paypal-button-container"></div>
				<script src="https://www.paypalobjects.com/api/checkout.js"></script>
				<script>
					paypal.Button.render({
						env: 'sandbox', // sandbox | production
						// Show the buyer a 'Pay Now' button in the checkout flow
						commit: true,
						// payment() is called when the button is clicked
						payment: function() {
						// Set up a url on your server to create the payment
						var CREATE_URL = '/createpayment';
						// Make a call to your server to set up the payment
						return paypal.request.post(CREATE_URL)
						.then(function(res) {
						console.log("Result: "+res.paymentID);
						return res.paymentID;
						});
					},
					// onAuthorize() is called when the buyer approves the payment
					onAuthorize: function(data, actions) {
						// Set up a url on your server to execute the payment
						var EXECUTE_URL = '/executepayment';
						// Set up the data you need to pass to your server
						var data = {
							paymentID: data.paymentID,
							payerID: data.payerID
							};
							// Make a call to your server to execute the payment
							return paypal.request.post(EXECUTE_URL, data)
							.then(function (res) {
							window.alert('Payment Complete!');
							});
						}
					}, '#paypal-button-container');
				</script>
		<% end %>



		<div class="row">
			<% @orderProducts.each do |order| %>
				<div class = "Item item polaroid col-sm-2" style="margin-left: 10px; margin-right: 10px; height:500px">		
					<%= image_tag Item.find(order.items_id).image, :class => "item" %>
					<div class="container2" style="height:40%;">
						<h3 style="margin-top:25%"><%= Item.find(order.items_id).name %> - <%= Item.find(order.items_id).price%>€</h3>
					</div>
				</div>
			<% end %>
		</div>

	</div>
</div>
