<div class="main">
	<div class="container">
		<h1>Welcome to our CustomBlocks!</h1>
		<p>If you need to contact with us, feel free to do it!</p>

		<%= render 'layouts/user_widget' %>
		<% if user_signed_in? %>
			<p>You are currently logged!</p>
			<p><b> Current elements in your awesome cart: </b></p>
				
				<% session[:products].each_with_index do |element, n| %>
					<p>Position: <%= n%>; Product: <%= element%></p>
				<% end %>
		<% end %>

		<%= form_tag(itemsSearch_path, :controller => "items", :action => :searchItem, :method => :get) do %>
			<%= text_field_tag :search, params[:search] %>
			<%= submit_tag("Search for Item") %>
		<% end %>

		
	</div>
	
</div>
