<div class="main">
	<div class="container">
	<h2>These are our Toys!</h2>
	<h3>Builded specially for you</h3>
	<%= render 'layouts/user_widget' %>
		<% if user_signed_in? %>
			<p>You are currently logged!</p>

			<% @toys.each do |t| %>			
				<div class="Toy">
					<%= image_tag t.image%>
					<h3> <%= t.name %> </h3>
					<p> Amount of pieces: <%= t.numberPieces %> </p>
					<p> Price: <%= t.price %>€ </p>
					<%= link_to "Show the pieces", toy_path(t) %>
					<%= link_to "Add to Cart", {:controller => "cart", :action => :addprod, :item => t }, {:method => :post} %></p>
				</div>
			<% end %>

		<% else %>
			<p>You are not currently logged!</p>

			<% @toys.each do |t| %>			
				<div class="Toy">
					<%= image_tag t.image%>
					<h3> <%= t.name %> </h3>
					<p> Amount of pieces: <%= t.numberPieces %> </p>
					<p> Price: <%= t.price %>€ </p>
					<%= link_to "Show the pieces", toy_path(t) %>
				</div>
			<% end %>
		<% end %>
	</div>
</div>
