<div class="main">
	<!-- Header -->
	<h1 class="title">Welcome to CustomBlocks!</h1>
	<div style="margin-top: 2%; margin-bottom: 5%" class="row">
 		<div class="col-sm-9">
 			<%= render 'layouts/user_widget' %>
 		</div>
 		<div style="margin-right:0px" style="align:right">
 			<%= form_tag(searchItem_path, :controller => "items", :action => :searchItem, :method => :get) do %>				
				<div class="col-xs-2">
					<%= text_field_tag(:search, params[:search], :class => "form-control") %>
				</div>
				<%= submit_tag("Search", :class => "btn btn-default") %>				
 			<% end %>
 		</div>		
 	</div>
	
	<!-- Categories panel -->
	<div class="container-categories">
		<div class="row">
			<div class="col-sm-1">
				<p style="text-align:center">Categories</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-1">
				<p class="categories"><%= link_to "Packs", {:controller => "items", :action => :listPacks }, {:method => :get} %></p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-1">
				<p class="categories"><%= link_to "Toys", {:controller => "items", :action => :listToys }, {:method => :get} %></p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-1">			
				<p class="categories"><%= link_to "Pieces", {:controller => "items", :action => :listPieces }, {:method => :get} %></p>
			</div>
		</div>
	</div>

	<!-- Items list -->
	<div class="container">		
		<% if user_signed_in? %>
			<p><b> Current elements in your awesome <%= link_to "cart", {:controller => "cart", :action => :showCart }, {:method => :get} %>: </b> <%= session[:products].length%> elements</p>
		<% end %>	
		<%= render "layouts/defaultList", locals: {items: @itemsDefaultList} %>	
	</div>	
</div>
