<div class="main">
	<div class="row">
		<div class="col-sm-6">
			<h1 class="title">Welcome to CustomBlocks!</h1>
		</div>
		<div class="col-sm-2">
			<%= render 'layouts/user_widget' %>
		</div>
		<div class="col-sm-2>
			<%= form_tag(searchItem_path, :controller => "items", :action => :searchItem, :method => :get) do %>
				<div class="form-group row">
					<div class="col-xs-2">
						<%= text_field_tag(:search, params[:search], :class => "form-control") %>
					</div>
					<%= submit_tag("Search Item", :class => "btn btn-default") %>
				</div>
			<% end %>
		</div>		
	</div>
	<div class="container">

		<p>Categories</p>

		
		<% if user_signed_in? %>
			<p><%= render "layouts/viewProfile" %> </p>
			<p><b> Current elements in your awesome <%= link_to "cart", {:controller => "cart", :action => :showCart }, {:method => :get} %>: </b> <%= session[:products].length%> elements</p>

		<% end %>

		<p><%= link_to "See all the Packs", {:controller => "items", :action => :listPacks }, {:method => :get} %></p>
		<p><%= link_to "See all the Toys", {:controller => "items", :action => :listToys }, {:method => :get} %></p>
		<p><%= link_to "See all the Pieces", {:controller => "items", :action => :listPieces }, {:method => :get} %></p>
		
		
		<%= render "layouts/defaultList", locals: {items: @itemsDefaultList} %>	

	</div>	
</div>
