<div class="main">
	<div class="container">
		<h1>Welcome to CustomBlocks!</h1>
		<p>If you need to contact with us, feel free to do it!</p>

		<%= render 'layouts/user_widget' %>
		<% if user_signed_in? %>
			<p><b> Current elements in your awesome <%= link_to "cart", {:controller => "cart", :action => :showCart }, {:method => :get} %>: </b> <%= session[:products].length%> elements</p>

		<% end %>

		<p><%= link_to "See all the Packs", {:controller => "items", :action => :listPacks }, {:method => :get} %></p>
		<p><%= link_to "See all the Toys", {:controller => "items", :action => :listToys }, {:method => :get} %></p>
		<p><%= link_to "See all the Pieces", {:controller => "items", :action => :listPieces }, {:method => :get} %></p>
		
		<%= form_tag(searchItem_path, :controller => "items", :action => :searchItem, :method => :get) do %>
			<div class="form-group row">
				<div class="col-xs-2">
					<%= text_field_tag(:search, params[:search], :class => "form-control") %>
				</div>
				<%= submit_tag("Search Item", :class => "btn btn-default") %>
			</div>
		<% end %>
		<%= render "layouts/defaultList", locals: {items: @itemsDefaultList} %>	

	</div>	
</div>
