<div class="main">
	<div class="container">
		<% if user_signed_in? %>
			<% @itemsDefaultList.each do |item| %>
				<div class = "Toy item polaroid col-sm-2" style="margin-left: 10px; margin-right: 10px; height:550px">
					<%= image_tag(item.image, :class => "item") %>
					<div class="container2">
						<h3 class="item"> <%= item.name %> - <%= item.price %>€ </h3>
						<p class="item"> Description: <%= item.description %> </p>
						<p class="item"> Category: <%= item.category %> </p>
						<%= link_to "Add to Cart", {:controller => "cart", :action => :addItem, :id => item.id }, {:method => :post, :class => "btn btn-success"} %>
					</div>
				</div>
			<% end %>
		<% else %> 

			<% @itemsDefaultList.each do |item| %>									
				<div class = "Toy item polaroid col-sm-2" style="margin-left: 10px; margin-right: 10px; height:550px">
					<%= image_tag(item.image, :class => "item" )%>
					<div class="container2">
						<h3 class="item"> <%= item.name %> - <%= item.price %>€ </h3>
						<p class="item"> Description: <%= item.description %> </p>
						<p class="item"> Category: <%= item.category %> </p>		
					</div>
				</div>								
			<% end %>	
	
		<% end %>	
	</div>
</div>
