<div class="main">
	<div class="container">
		<h1>These are our toys!</h1>
		<p>Displaying default toy list...</p>
			<% if user_signed_in? %>
				<% @itemsDefaultList.each do |item| %>
					<div class = "Toy">
						<%= image_tag(item.image, :size => '300x300') %>
						<h3> <%= item.name %> - <%= item.price %>€ </h3>
						<p> Description: <%= item.description %> </p>
						<p> Category: <%= item.category %> </p>
						<%= link_to "Add to Cart", {:controller => "cart", :action => :addItem, :id => item.id }, {:method => :post} %></p>
					</div>
				<% end %>
			<% else %> 
				<% @itemsDefaultList.each do |item| %>
					<div class = "Toy" style="max-height:30%;max-width:30%">
						<%= image_tag(item.image, :class => "img-thumbnail")%>
						<h3 align="justify"> <%= item.name %> - <%= item.price %>€ </h3>
						<p align="justify"> Description: <%= item.description %> </p>
						<p align="justify"> Category: <%= item.category %> </p>		
					</div>
				<% end %>
			<% end %>	
	</div>
</div>
