<div class="main">
	<div class="container">
		<% if user_signed_in? %>
			<% @itemsDefaultList.each do |item| %>
				<div class = "Toy">
					<%= image_tag(item.image, :size => '300x300') %>
					<h3> <%= item.name %> - <%= item.price %>€ </h3>
					<p> Description: <%= item.description %> </p>
					<p> Category: <%= item.category %> </p>
					<%= link_to "Add to Cart", {:controller => "cart", :action => :addItem, :id => item.id }, {:method => :post} %></p>
				</div>
			<% end %>
		<% else %> 

			<% @itemsDefaultList.each do |item| %>									
				<div class = "Toy item polaroid col-sm-2" style="margin-left: 10px; margin-right: 10px;">
					<%= image_tag(item.image, :class => "item" )%>
					<div class="container2">
						<h3 class="item"> <%= item.name %> - <%= item.price %>€ </h3>
						<p class="item"> Description: <%= item.description %> </p>
						<p class="item"> Category: <%= item.category %> </p>		
					</div>
				</div>								
			<% end %>	
	
		<% end %>	
	</div>
</div>
