<div class="main">
	<div class="container">
			
		<p><h3>Displaying information of <%= @orders.length %> orders</h3></p>
		
		<% @orders.each do |order| %>
			<table>
				<tr>
					<td>Order ID: </td>
					<td><%= order.id %></td>
				</tr>
				<tr>
					<td>Order user: </td>
					<td><%= User.find(order.user.id).first_name %></td>
				</tr>
				<tr>				
					<td>Order price: </td>
					<td><%= order.totalPrice %>€</td>
				</tr>
				<tr>
					<td>Order status: </td>
					<td><%= order.status %></td>
				</tr>
				<tr>
					<td>Order products: </td>
						<td><% order.order_products.each do |item| %>
							<%= Item.find(item.items_id).name %>
						<% end %></td>
				</tr>
					
				</tbody>
			</table>
			<%= button_to "Show Order details", { :controller => "orders", :action => "showOrder", id: order.id }, { :method => :get }%>
		<% end %>
	</div>
</div>
