<div class="main">
	<div class="container">
			
		<h3>Displaying information of <%= @orders.length %> orders</h3>
		
		<% @orders.each do |order| %>
			<div class="row">
				<div class="col-sm-2">
					<p>Order ID: </p>
				</div>
				<div class="col-sm-2">
					<p><%= order.id %></p>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-2">
					<p>Order user: </p>
				</div>
				<div class="col-sm-2">
					<p><%= User.find(order.user.id).first_name %></p>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-2">
					<p>Order price: </p>
				</div>
				<div class="col-sm-2">
					<p><%= order.totalPrice %>€</p>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-2">
					<p>Order status: </p>
				</div>
				<div class="col-sm-2">
					<p><%= order.status %></p>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-2">
					<p>Order products: </p>
				</div>
				<div class="col-sm-2">
					<p><% order.order_products.each do |item| %>
						<%= Item.find(item.items_id).name %>
					<% end %></p>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-2">
					<%= button_to "Show Order details", { :controller => "orders", :action => "showOrder", id: order.id }, { :method => :get, :class => "btn btn-primary" }%>
				</div>
			</div>
		<% end %>
	</div>
</div>
