<h1><b>Displaying your Cart!</b></h1>

<p><%= link_to "Return to Home Page", root_path %></p>
<% if user_signed_in? %>

	<h2><p>Price to Pay: <%= session[:products].map{|id| Item.find(id).price}.reduce(:+) %>€</p></h2>

	<p><%= button_to "Order Cart", {:controller => "cart", action: "orderPayment" }, {:method => :get} %></p>


		<p><b> Current elements in your awesome cart: </b> <%= session[:products].length%> elements</p>

		<%= button_to "Empty Cart", {:controller => "cart", action: "emptyCart" }, {:method => :delete} %>

		<% session[:products].each_with_index do |id, n| %>
			<p>Position: <%= n%></p>
			<p> <%= image_tag Item.find(id).image %> </p>
			<p> Product: <%= Item.find(id).name %>; Id: <%= Item.find(id).id %>; Price: <%= Item.find(id).price %>€ </p>
			<p> <%= link_to "Remove item from my Cart", {:controller => "cart", :action => :removeItem, :position => n }, {:method => :delete} %> </p>
		<% end %>

<% else %>
	<p>We are sorry, you are not logged so you can't see your Cart!</p>
<% end %>
