<div class="container">
	<div class="row" style="margin-top:1%;">
		<div class="col-sm-3">
			<h2>Edit <%= resource_name.to_s.humanize %></h2>
		</div>
	</div>

	<div class="row" style="margin-top:1%;">
		<div class="col-sm-3">
			<%= link_to "Return to Home Page", root_path %>
		</div>
	</div>

	<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
	<div class="row" style="margin-top:1%;">
		<div class="col-sm-3">
	  		<%= devise_error_messages! %>
		</div>
	</div>

	<div class="row" style="margin-top:1%;">
		  <div class="field col-sm-3">
		    <%= f.label :first_name %><br />
		    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", :class => "form-control" %>
		  </div>
	</div>

	<div class="row" style="margin-top:1%;">
		  <div class="field col-sm-3">
		    <%= f.label :last_name %><br />
		    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", :class => "form-control" %>
		  </div>
	</div>

	<div class="row" style="margin-top:1%;">
		  <div class="field col-sm-3">
		    <%= f.label :email %><br />
		    <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control" %>
		  </div>
	</div>

	  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
		<div class="row" style="margin-top:1%;">
	    		<div class="col-sm-3">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
		</div>
	  <% end %>

	<div class="row" style="margin-top:1%;">
		  <div class="field col-sm-5">
		    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
		  </div>
	</div>

	<div class="row" style="margin-top:1%;">
		  <div class="col-sm-3">
		    <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
		    <% if @minimum_password_length %>
		      <br />
		      <em><%= @minimum_password_length %> characters minimum</em>
		    <% end %>
		  </div>
	</div>

	<div class="row">
		  <div class="field col-sm-3">
		    <%= f.label :password_confirmation %><br />
		    <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %>
		  </div>
	</div>

	<div class="row" style="margin-top:1%;">
		  <div class="field col-sm-3">
		    <%= f.label :address %><br />
		    <%= f.text_field :address, autofocus: true, autocomplete: "address", :class => "form-control" %>
		  </div>
	</div>

	<div class="row" style="margin-top:1%;">
		  <div class="field col-sm-3">
		    <%= f.label :mobile %><br />
		    <%= f.text_field :mobile, autofocus: true, autocomplete: "mobile", :class => "form-control" %>
		  </div>
	</div>

	<div class="row" style="margin-top:1%;">
		  <div class="field col-sm-6">
		    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
		  </div>
	</div>
	<div class="row" style="margin-top:1%;">
		  <div class="field col-sm-3">
		    <%= f.password_field :current_password, autocomplete: "off", :class => "form-control" %>
		  </div>
	</div>

	<div class="row" style="margin-top:1%;">
		  <div class="actions col-sm-3">
		    <%= f.submit "Update", :class => "btn btn-default" %>
		  </div>
	</div>
	<% end %>
	
	<div class="row" style="margin-top:1%;">
		<div class="col-sm-3">
			<h3>Cancel my account</h3>
		</div>
	</div>

	<div class="row" style="margin-top:1%;">
		<div class="col-sm-3">
			<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => "btn btn-default" %></p>
		</div>
	</div>
</div>

