<div class="item">
	<% if user_signed_in? && current_user.isAdmin %>
		<%= form_for(@item, :url => { :action => "modifyItem", :id => @item.id }, html: { method: :put }) do |f| %>
			<div class="field">
	 			<p> <%= f.label :name %></p>
	 			<%= f.text_field :name, autocomplete: "name"%>
	 		</div>
	 		<div class="field">
	 			<p><%= f.label :price %></p>
	 			<%= f.text_field :price, autocomplete: "price" %>
	 		</div>
	 		<div class="field">
	 			<%= f.label :image%><br>
	 			<%= f.text_field :image %>
	 		</div>
	 		<div class="field">
	 			<%= f.label :description %><br>
	 			<%= f.text_area :description %>
	 		</div>
	 		<div class="field">
	 			<%= f.label :category %><br />
	 			<%= f.text_field :category %>
	 		</div>
	 		<div class="actions">
	 			<%= f.submit "Edit" %>
	 		</div>
	 	<% end %>
	<% else %>
		<p>We are sorry, but you are not allowed to do such action without being administrator.</p>
	<% end %>
</div>
