<div class="main">
	<div class="row">
		<div class="col-sm-10">
			<h1 class="title">These are our Packs!</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-9">
		</div>
		<div style="margin-right:0px; align:right">
			<%= form_tag(searchPack_path, :controller => "items", :action => :searchPack, :method => :get) do %>
				<div class="col-xs-2">
					<%= text_field_tag :search, params[:search], :class => "form-control" %>
				</div>
				<%= submit_tag("Search", :class => "btn btn-default") %>
			<% end %>
		</div>
	</div>
	<div class="container">

		
		<p><%= link_to "Return to Home Page", root_path %></p>

		

		<p>Displaying Pack's List: <%= @itemsPacks.length %> </p>

			<% if user_signed_in? %>
				<% @itemsPacks.each do |item| %>
					<div class = "Item item polaroid col-sm-2" style="margin-left: 10px; margin-right: 10px; height:600px">
						<%= image_tag item.image, :class => "item" %>
						<div class="container2">
							<h3 class="item"> <%= item.name %> - <%= item.price %>€ </h3>
							<p class="item"> Description: <%= item.description %> </p>
							<p class="item"> Category: <%= item.category %> </p>
							<%= link_to "Add to Cart", {:controller => "cart", :action => :addItem, :id => item.id }, {:method => :post, :class => "btn btn-success", :style => "position: absolute;bottom:5%;left:35%"} %></p>
						</div>
					</div>
				<% end %>

			<% else %> 

				<% @itemsPacks.each do |item| %>
					<div class = "Item item polaroid col-sm-2" style="margin-left: 10px; margin-right: 10px; height:550px">
						<%= image_tag item.image, :class => "item" %>
						<div class="container2">
							<h3 class="item"> <%= item.name %> - <%= item.price %>€ </h3>
							<p class="item"> Description: <%= item.description %> </p>
							<p class="item"> Category: <%= item.category %> </p>
						</div>
					</div>
				<% end %>
			<% end %>

			
	</div>
</div>
