<div class="main">
	<div class="container">
		<h1>These are our Toys!</h1>
		
		<p><%= link_to "Return to Home Page", root_path %></p>

		<%= form_tag(searchToy_path, :controller => "items", :action => :searchToy, :method => :get) do %>
			<%= text_field_tag :search, params[:search] %>
			<%= submit_tag("Search Toy") %>
		<% end %>

		<p>Displaying Toy's List: <%= @itemsToys.length %> </p>

			<% if user_signed_in? %>
				<% @itemsToys.each do |item| %>
					<div class = "Pack">
						<%= image_tag item.image %>
						<h3> <%= item.name %> - <%= item.price %>€ </h3>
						<p> Description: <%= item.description %> </p>
						<p> Category: <%= item.category %> </p>
				<%= link_to "Add to Cart", {:controller => "cart", :action => :addItem, :id => item.id }, {:method => :post} %></p>
					</div>
				<% end %>

			<% else %> 

				<% @itemsToys.each do |item| %>
					<div class = "Toy">
						<%= image_tag item.image %>
						<h3> <%= item.name %> - <%= item.price %>€ </h3>
						<p> Description: <%= item.description %> </p>
						<p> Category: <%= item.category %> </p>
					</div>
				<% end %>
			<% end %>

			
	</div>
</div>
