<div class="main">
	<div class="row">
		<div class="col-sm-10">
			<h1 class="title">These are our Pieces!</h1>
		</div>		
	</div>
	<div class="row" style="margin-top:2%">
		<div class="col-sm-9">
			<% if user_signed_in? %>
				<p><b style="text-align:right"> Current elements in your <%= link_to "cart", {:controller => "cart", :action => :showCart }, {:method => :get} %>: </b> <%= session[:products].length%></p>		
			<% end %>
		</div>

		<div style="margin-right:0px; align:right">
			<%= form_tag(searchPiece_path, :controller => "items", :action => :searchPiece, :method => :get) do %>
				<div class="col-xs-2">
					<%= text_field_tag :search, params[:search], :class => "form-control" %>
				</div>
				<%= submit_tag("Search Piece", :class => "btn btn-default") %>
			<% end %>
		</div>
	</div>
	<div class="container">
		
		
		<p><%= link_to "Return to Home Page", root_path %></p>
		<p><%= link_to "List Packs", {:controller => "items", :action => :listPacks }, {:method => :get} %></p>
		<p><%= link_to "List Toys", {:controller => "items", :action => :listToys }, {:method => :get} %></p>
		<p><%= link_to "List Pieces", {:controller => "items", :action => :listPieces }, {:method => :get} %></p>

		<p>Displaying Piece's List: <%= @itemsPieces.length %> </p>

			<% @itemsPieces.each do |item| %>
				<div class = "Item item polaroid col-sm-2" style="margin-left: 10px; margin-right: 10px; height:500px">
					<%= image_tag item.image, :class => "item" %>
					<div class="container2" style="height:auto">
						<h3 class="item"><%= item.name %> - <%= item.price %>€</h3>
						<p class="item"> Description: <%= item.description %> </p>
						<p class="item"> Category: <%= item.category %> </p>
							
						<% if user_signed_in? %>
							<p><%= link_to "Add to Cart", {:controller => "cart", :action => :addItem, :id => item.id }, {:method => :post, :class => "btn btn-success", :style => "position: absolute;bottom:5%;left:35%"} %></p>
							<% if current_user.isAdmin %>
								<p><%= button_to "Edit Item", { :controller => "items", :action => :editItem, :id => item.id }, { :method => :get } %></p>
								<p><%= button_to "Delete Item", { :controller => "items", :action => :deleteItem, :id => item.id }, { :method => :delete } %></p>
							<% end %>
						<% end %>
					</div>
				</div>
			<% end %>
	</div>
</div>
