<div class="main">
	<div class="container">
		<h1>These are our Pieces!</h1>
		
		<p> <%= link_to "Return to Home Page", root_path %> </p>
		<p> <%= link_to "Return to See all the Pieces", listPieces_path%> </p>

		<p>Displaying pieces searched...</p>
			
	</div>

	<p> Your current piece search has been: "<%= params[:search] %>" </p>


	<% if @itemsPieces.length == 0%>
		<p> Not resoults have been found, try to check the word spelling.</p>
	<% else %>
		<p> Total of pieces found: <%= @itemsPieces.length %> </p>
			
		<% if user_signed_in? %>
			<% @itemsPieces.each do |item| %>
				<div class = "Item">
					<%= image_tag item.image %>
					<h3> <%= item.name %> - <%= item.price %>€ </h3>
					<p> Description: <%= item.description %> </p>
					<p> Category: <%= item.category %> </p>
			<%= link_to "Add to Cart", {:controller => "cart", :action => :addItem, :id => item.id }, {:method => :post} %></p>
				</div>
			<% end %>

		<% else %> 

			<% @itemsPacks.each do |item| %>
				<div class = "Item">
					<%= image_tag item.image %>
					<h3> <%= item.name %> - <%= item.price %>€ </h3>
					<p> Description: <%= item.description %> </p>
					<p> Category: <%= item.category %> </p>
				</div>
			<% end %>
		<% end %>
	<% end %>
</div>
